html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.galeria {
  text-align: center; 
}


.galeria img {
  width: 350px;        
  margin: 2px;        
  border: 2px solid black;
}

*{
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
}

ul img{
  width: 145px;        
  margin: 1.5px;        
}

ul li p{
  text-transform: capitalize;
}

body{
  background-color: darkorchid;
}

main{
  background-color: blueviolet;
}

header{
  background-color: gainsboro;
}